.verbal-container {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 100px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
	background-color: #f9f9f9;
}

.verbal-page {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

h1 {
	font-size: 2rem;
	color: #1664C0;
	margin-bottom: 10px;
}

h4 {
	font-size: 1.2rem;
	color: #555;
	margin-top: 20px;
}

ol {
	text-align: left;
	margin: 10px auto;
	padding-left: 1.2rem;
}

li {
	margin-bottom: 8px;
}

.submit-button {
	max-width: 100px;
	/* background-color: #3f51b5; */
	color: #fff;
	padding: 10px 20px;
	font-size: 1rem;
	border-radius: 8px;
	transition: background-color 0.3s;
}

.submit-button-disabled{
	background-color: red;
	max-width: 100px;
	/* background-color: #3f51b5; */
	color: blue;
	padding: 10px 20px;
	font-size: 1rem;
	border-radius: 8px;
	transition: background-color 0.3s;
}