/* General styling */
body,
html
{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100%;
}

/* Container */
.homepage-container
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* AppBar Section */
.appbar
{
    width: 100%;
}

/* Intro Section */
.intro-section
{
    padding: 40px 0;
    text-align: center;
    margin-top: 0;
}

/* Login Section */
.login-section
{
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

/* Footer */
.footer
{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
}