.category-column {
  text-align: left;
}

.difficulty-column {
  text-align: left;
}

.completed-column {
  margin-left: 15px !important;
}

.button_container {
  display: flex;
  flex-direction: row;
}