.help-button {
    position: absolute;
    bottom: 1vh;
    right: 5vh;
    width: 13vh;
    height: 5vh;
    font-size: 2.2vh;
    z-index: 1000;
    color: black;
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.help-button:hover {
    background-color: white;
}
